storage: /home/nonroot/verdaccio/storage
plugins: /home/nonroot/verdaccio/plugins
web:
  title: npm proxy
  gravatar: true
  darkMode: true
  html_cache: true
  showThemeSwitch: true
auth:
  htpasswd:
    file: /home/nonroot/verdaccio/storage/htpasswd
    max_users: 1000
uplinks:
  npmjs:
    url: https://registry.npmjs.org/
packages:
  "@*/*":
    access: $all
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs
  "**":
    access: $all
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs
server:
  keepAliveTimeout: 60
publish:
  allow_offline: true
userRateLimit:
  max: 1000
listen:
  - https://0.0.0.0:4873
https:
  key: /home/nonroot/certs/my.key
  cert: /home/nonroot/certs/my.pem
middlewares:
  audit:
    enabled: true
log:
  {
    type: file,
    path: /etc/services.d/verdaccio/log,
    format: pretty-timestamped,
    level: http,
  }
